* {
    box-sizing: border-box;  

  }
  ul {
    list-style-type: none;
    position: absolute;
    top: 0%;
    /* margin: 0%; */
    overflow: hidden;
    right: 0%;
  }
  
  li {
    float: left;
  }
  
  li, a {
    display: block;
    padding: 8px;
    background-color: whitesmoke;
  }

  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: lightseagreen;
    inline-size: 14.5%;
  }

  h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: 4aaaa5;
  }


p {
  'Arial', 'Helvetica Neue', Helvetica, sans-serif;.
}


body {

background-color: gray;
}

.head {
  position: relative;
  display: block;
  width: 960px;
  margin: auto;
  background-color: whitesmoke;
    
}


.img {float: left;
    width: 250px;
}

.box {
    background-color:white;
    width: 960px;
    margin: auto;
}

.footer {
  position: relative;
  display: block;
  width: 960px;
  margin: auto;
  background-color: whitesmoke;
  bottom: 0;
  text-align: center;
}
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
  }  

#input {
    height: 200px;
  }   
  
  
.contact {
    background-color: antiquewhite;
    width: 960px;
    margin: auto;
  } 

  input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 460px;
  }

.text{
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
  background: gray;
} 
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    width: 960px;
    margin:auto;
  }

  @media only screen and (max-width: 980px) {
    body {
      background-color: lightblue;
    }

    @media only screen and (max-width: 768px) {
      body {
        background-color:blue;
      }  

      @media only screen and (max-width: 600px) {
        body {
          background-color:darkblue;
        }    